In [1]:
pip install pyEDFlib

Requirement already satisfied: pyEDFlib in c:\users\joshi\appdata\local\programs\python\python311\lib\site-packages (0.1.37)
Requirement already satisfied: numpy>=1.9.1 in c:\users\joshi\appdata\local\programs\python\python311\lib\site-packages (from pyEDFlib) (1.26.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~treamlit (c:\Users\Joshi\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~treamlit (c:\Users\Joshi\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~treamlit (c:\Users\Joshi\AppData\Local\Programs\Python\Python311\Lib\site-packages)

In [3]:
# libraries installation
from pyedflib import EdfReader
from numpy import zeros, arange
import csv
import pandas as pd
from csv import reader, writer
import os

In [4]:
#paths defines
Edfpath='edf_files/'
tempath='temp/'

# read the excel file made for patient data
excelData=pd.read_csv('Siena DB timestamp.csv', header=None)
total_no_of_edfs=50
excelData

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,Patient,Sub File,No of channels,Channels not used,Seizure,Localization,Lateralization,No of Seizure,Registeration Time,Seizure Start Time,...,Post-Ictal Start Row,Post Ictal end Row,Pre Ictal Start Time,Pre Ictal End Time,Pre Ictal Start Row,Pre Ictal End Row,Peri Ictal start time,Peri Ictal End Time,Peri Ictal start Row,Peri Ictal End Row
1,0,PN00-1,34,NaN,IAS,T,R,1,70773,71916,...,623616,659456,1068,1138,546816,582656,1138,1218,582656,623616
2,0,PN00-2,34,NaN,IAS,T,R,1,8297,9517,...,654848,682496,1161,1215,594432,622080,1215,1279,622080,654848
3,0,PN00-4,34,NaN,IAS,T,R,1,75103,76109,...,555520,593408,927,1001,474624,512512,1001,1085,512512,555520
4,0,PN00-5,34,NaN,IAS,T,R,1,80524,81428,...,499712,534016,832,899,425984,460288,899,976,460288,499712
5,1,PN01-1_1,34,NaN,IAS,T,L,2,68444,78662,...,5261824,5289472,10159,10213,5201408,5229056,10213,10277,5229056,5261824
6,1,PN01-1_2,34,NaN,IAS,T,L,2,68444,114797,...,23773184,23811072,46274,46348,23692288,23730176,46348,46432,23730176,23773184
7,3,PN03-1,34,NaN,IAS,T,R,1,81877,120550,...,19859968,19916800,38557,38668,19741184,19798016,38668,38789,19798016,19859968
8,3,PN03-2,34,NaN,IAS,T,R,1,77464,112385,...,17950208,18018304,34783,34916,17808896,17876992,34916,35059,17876992,17950208
9,5,PN05-2,34,NaN,IAS,T,L,1,24362,31525,...,3687936,3705856,7123,7158,3646976,3664896,7158,7203,3664896,3687936
10,5,PN05-3,34,NaN,IAS,T,L,1,21683,28519,...,3517952,3533312,6801,6831,3482112,3497472,6831,6871,3497472,3517952
11,5,PN05-4,34,NaN,IAS,T,L,1,23915,27523,...,1869824,1889792,3564,3603,1824768,1844736,3603,3652,1844736,1869824
12,6,PN06-1,34,NaN,IAS,T,L,1,15682,21265,...,2893824,2926592,5514,5578,2823168,2855936,5578,5652,2855936,2893824
13,6,PN06-2,34,NaN,IAS,T,L,1,76289,85149,...,4574208,4609536,8786,8855,4498432,4533760,8855,8934,4533760,4574208
14,6,PN06-3,34,NaN,IAS,T,L,1,23151,29426,...,3236864,3258368,6228,6270,3188736,3210240,6270,6322,3210240,3236864
15,6,PN06-4,34,NaN,IAS,T,L,1,40569,46508,...,3075584,3107840,5871,5934,3005952,3038208,5934,6007,3038208,3075584
16,6,PN06-5,34,NaN,IAS,T,L,1,48281,53064,...,2473984,2496512,4734,4778,2423808,2446336,4778,4832,2446336,2473984
17,7,PN07-1,34,NaN,IAS,T,L,1,83890,105949,...,11328512,11360256,21992,22054,11259904,11291648,22054,22126,11291648,11328512
18,9,PN09-1,34,NaN,IAS,T,L,1,50934,58183,...,3755008,3795968,7164,7244,3667968,3708928,7244,7334,3708928,3755008
19,9,PN09-2,34,NaN,IAS,T,L,1,54129,61256,...,3681792,3712000,7063,7122,3616256,3646464,7122,7191,3646464,3681792
20,9,PN09-3,34,NaN,IAS,T,L,1,51623,58844,...,3732480,3765248,7152,7216,3661824,3694592,7216,7290,3694592,3732480
21,10,PN10-1,34,NaN,FBTC,F,Bilateral,1,20405,27950,...,3900928,3936256,7471,7540,3825152,3860480,7540,7619,3860480,3900928
22,10,PN10-2,34,NaN,FBTC,F,Bilateral,1,34215,42013,...,4021248,4047360,7742,7793,3963904,3990016,7793,7854,3990016,4021248
23,10,PN10-3,34,NaN,FBTC,F,Bilateral,1,48798,56633,...,4049408,4084736,7761,7830,3973632,4008960,7830,7909,4008960,4049408
24,10,PN10-4.5.6_1,34,NaN,FBTC,F,Bilateral,3,43881,46190,...,1187328,1189888,2299,2304,1177088,1179648,2304,2319,1179648,1187328
25,10,PN10-4.5.6_2,34,NaN,FBTC,F,Bilateral,3,43881,50425,...,3362816,3372544,6520,6539,3338240,3347968,6539,6568,3347968,3362816
26,10,PN10-4.5.6_3,34,NaN,FBTC,F,Bilateral,3,43881,55106,...,5778944,5808128,11163,11220,5715456,5744640,11220,11287,5744640,5778944
27,10,PN10-7.8.9_1,34,NaN,FBTC,F,Bilateral,3,60565,63313,...,1434112,1458688,2695,2743,1379840,1404416,2743,2801,1404416,1434112
28,10,PN10-7.8.9_2,34,NaN,FBTC,F,Bilateral,3,60565,66024,...,2806784,2816000,5436,5454,2783232,2792448,5454,5482,2792448,2806784
29,10,PN10-7.8.9_3,34,NaN,FBTC,F,Bilateral,3,60565,73488,...,6626816,6634496,12903,12918,6606336,6614016,12918,12943,6614016,6626816
30,10,PN10-10,34,NaN,FBTC,F,Bilateral,1,31522,39499,...,4093952,4101120,7958,7972,4074496,4081664,7972,7996,4081664,4093952
31,11,PN11-1,34,NaN,IAS,T,R,1,41485,49039,...,3898368,3926528,7494,7549,3836928,3865088,7549,7614,3865088,3898368
32,12,PN12-1_1,34,NaN,IAS,T,L,2,57091,58403,...,706560,738816,1244,1307,636928,669184,1307,1380,669184,706560
33,12,PN12-1_2,34,NaN,IAS,T,L,2,57091,66661,...,4937216,4972032,9497,9565,4862464,4897280,9565,9643,4897280,4937216
34,12,PN12-3,34,NaN,IAS,T,L,1,31355,32127,...,446976,496128,671,767,343552,392704,767,873,392704,446976
35,12,PN12-4,34,NaN,IAS,T,L,1,57559,67371,...,5058560,5090816,9744,9807,4988928,5021184,9807,9880,5021184,5058560
36,13,PN13-1,34,NaN,IAS,T,L,1,30268,37330,...,3642880,3667456,7009,7057,3588608,3613184,7057,7115,3613184,3642880
37,13,PN13-2,34,NaN,IAS,T,L,1,24902,32151,...,3747328,3780608,7179,7244,3675648,3708928,7244,7319,3708928,3747328
38,13,PN13-3,34,NaN,IAS,T,L,1,43201,50754,...,3947008,4024320,7397,7548,3787264,3864576,7548,7709,3864576,3947008
39,14,PN14-1,40,NaN,WIAS,T,L,1,42298,49560,...,3734528,3748352,7230,7257,3701760,3715584,7257,7294,3715584,3734528
40,14,PN14-2,40,NaN,WIAS,T,L,1,57031,64492,...,3828736,3834880,7444,7456,3811328,3817472,7456,7478,3817472,3828736
41,14,PN14-3,40,NaN,WIAS,T,L,1,58665,76205,...,9004032,9025024,17494,17535,8956928,8977920,17535,17586,8977920,9004032
42,14,PN14-4,40,NaN,WIAS,T,L,1,51510,56973,...,2842112,2884608,5375,5458,2752000,2794496,5458,5551,2794496,2842112
43,16,PN16-1,40,NaN,IAS,T,L,1,74721,81905,...,3743744,3806720,7056,7179,3612672,3675648,7179,7312,3675648,3743744
44,16,PN16-2,40,NaN,IAS,T,L,1,3235,11809,...,4447232,4502016,8462,8569,4332544,4387328,8569,8686,4387328,4447232
45,17,PN17-1,40,NaN,IAS,T,R,1,72868,81288,...,4349440,4385280,8345,8415,4272640,4308480,8415,8495,4308480,4349440
46,17,PN17-2,40,NaN,IAS,T,R,1,49938,57669,...,4003328,4045824,7643,7726,3913216,3955712,7726,7819,3955712,4003328

**ICTAL**

In [ ]:
seizuren= 0
for i in range(1,total_no_of_edfs):

  edfFile=excelData[1][i]
  patientno= excelData[0][i]
  subfile=excelData[1][i]
  seizure_type= excelData[4][i]
  localization=excelData[5][i]
  lateralization=excelData[6][i]


# read Ictal start and end rows
  IctalS= int(excelData[15][i])
  IctalE= int(excelData[16][i])

  print(seizure_type,localization,lateralization,IctalS,IctalE)

# read edf file
  f=EdfReader(Edfpath+ edfFile+'.edf')
  n = f.signals_in_file
  signal_labels = f.getSignalLabels()
  print(signal_labels)
  data = zeros((n,f.getNSamples()[0]))
  data
  for k in arange(n):
      data[k, :] = f.readSignal(k)

  #store all data
  data_eeg = data

  #close the edf file
  f._close()
  del f
  print(data_eeg.shape)

  df = pd.DataFrame(data_eeg)

  # convert the edf to csv file
  df.to_csv(tempath+'temp1.csv', index=False)
  total_cols= len(df.columns)
  print(total_cols)

  #cut the data for ictal
  cols=list(range(0,IctalS))
  df.drop(columns=cols, axis=1,inplace=True)
  cols=list(range(IctalE+1,total_cols))
  df.drop(columns=cols, axis=1,inplace=True)
  print(df.shape)

  # add class label
  df[len(df.columns)]=1

  #save the updated csv file
  df.to_csv(tempath+'temp2.csv', index=False)


  # create pateint specific folder
  folderpath = 'Generated siena db/Patient Inter Specific/'+seizure_type+'/'+localization+'/'+lateralization+'/'+'PN'+str(patientno)+'/'
  if not os.path.exists(folderpath):
    os.makedirs(folderpath)

  newpath= folderpath + 'Ictal' +'/'
  if not os.path.exists(newpath):
    os.makedirs(newpath)
  print(df.shape)
  # transpose the csv
  with open(tempath+'temp2.csv') as f, open(newpath + subfile +'_ictal.csv', 'w') as fw:
      writer(fw, delimiter=',').writerows(zip(*reader(f, delimiter=',')))
  df=pd.read_csv(newpath + subfile +'_ictal.csv', header=None)
  df.drop(columns=0, axis=1,inplace=True)
  print(df.shape)

  # Patient Non Specific
  newpath2= 'Generated siena db/Patient Non-Specific/Ictal/'
  if not os.path.exists(newpath2):
    os.makedirs(newpath2)

  df.to_csv(newpath + subfile +'_ictal.csv', index=False, header=False)
  df.to_csv(newpath2+str(i+seizuren)+'.csv', index=False, header=False)

**POST-ICTAL**

In [ ]:
seizuren= 0
for i in range(1,total_no_of_edfs):

  edfFile=excelData[1][i]
  patientno= excelData[0][i]
  subfile=excelData[1][i]
  seizure_type= excelData[4][i]
  localization=excelData[5][i]
  lateralization=excelData[6][i]


# read Post Ictal start and end rows
  PostIctalS= int(excelData[19][i])
  PostIctalE= int(excelData[20][i])

  print(seizure_type,localization,lateralization,PostIctalS,PostIctalE)

# read edf file
  f=EdfReader(Edfpath+ edfFile+'.edf')
  n = f.signals_in_file
  signal_labels = f.getSignalLabels()
  print(signal_labels)
  data = zeros((n,f.getNSamples()[0]))
  data
  for k in arange(n):
      data[k, :] = f.readSignal(k)

  #store all data
  data_eeg = data

  #close the edf file
  f._close()
  del f
  print(data_eeg.shape)

  df = pd.DataFrame(data_eeg)

  # convert the edf to csv file
  df.to_csv(tempath+'temp1.csv', index=False)
  total_cols= len(df.columns)
  print(total_cols)

  #cut the data for post-ictal
  cols=list(range(0,PostIctalS))
  df.drop(columns=cols, axis=1,inplace=True)
  cols=list(range(PostIctalE+1,total_cols))
  df.drop(columns=cols, axis=1,inplace=True)
  print(df.shape)

  # add class label
  df[len(df.columns)]=1

  #save the updated csv file
  df.to_csv(tempath+'temp2.csv', index=False)


  # create pateint specific folder
  folderpath = 'Generated siena db/Patient Inter Specific/'+seizure_type+'/'+localization+'/'+lateralization+'/'+'PN'+str(patientno)+'/'
  if not os.path.exists(folderpath):
    os.makedirs(folderpath)
  newpath= folderpath + 'Post-Ictal' +'/'
  if not os.path.exists(newpath):
    os.makedirs(newpath)
  print(df.shape)
  # transpose the csv
  with open(tempath+'temp2.csv') as f, open(newpath + subfile +'_post-ictal.csv', 'w') as fw:
      writer(fw, delimiter=',').writerows(zip(*reader(f, delimiter=',')))
  df=pd.read_csv(newpath + subfile +'_post-ictal.csv', header=None)
  df.drop(columns=0, axis=1,inplace=True)
  print(df.shape)

  
  # Patient Non Specific
  newpath2= 'Generated siena db/Patient Non-Specific/Post-Ictal/'
  if not os.path.exists(newpath2):
    os.makedirs(newpath2)


  df.to_csv(newpath + subfile +'_post-ictal.csv', index=False, header=False)
  df.to_csv(newpath2+str(i+seizuren)+'.csv', index=False, header=False)

**PRE_ICTAL**

In [ ]:
seizuren= 0
for i in range(1,total_no_of_edfs):

  edfFile=excelData[1][i]
  patientno= excelData[0][i]
  subfile=excelData[1][i]
  seizure_type= excelData[4][i]
  localization=excelData[5][i]
  lateralization=excelData[6][i]


# read Pre Ictal start and end rows
  PreIctalS= int(excelData[23][i])
  PreIctalE= int(excelData[24][i])

  print(seizure_type,localization,lateralization,PreIctalS,PreIctalE)

# read edf file
  f=EdfReader(Edfpath+ edfFile+'.edf')
  n = f.signals_in_file
  signal_labels = f.getSignalLabels()
  print(signal_labels)
  data = zeros((n,f.getNSamples()[0]))
  data
  for k in arange(n):
      data[k, :] = f.readSignal(k)

  #store all data
  data_eeg = data

  #close the edf file
  f._close()
  del f
  print(data_eeg.shape)

  df = pd.DataFrame(data_eeg)

  # convert the edf to csv file
  df.to_csv(tempath+'temp1.csv', index=False)
  total_cols= len(df.columns)
  print(total_cols)

  #cut the data for pre-ictal
  cols=list(range(0,PreIctalS))
  df.drop(columns=cols, axis=1,inplace=True)
  cols=list(range(PreIctalE+1,total_cols))
  df.drop(columns=cols, axis=1,inplace=True)
  print(df.shape)

  # add class label
  df[len(df.columns)]=1

  #save the updated csv file
  df.to_csv(tempath+'temp2.csv', index=False)


  # create pateint specific folder
  folderpath = 'Generated siena db/Patient Inter Specific/'+seizure_type+'/'+localization+'/'+lateralization+'/'+'PN'+str(patientno)+'/'
  if not os.path.exists(folderpath):
    os.makedirs(folderpath)
  newpath= folderpath + 'Pre-Ictal' +'/'
  if not os.path.exists(newpath):
    os.makedirs(newpath)
  print(df.shape)
  # transpose the csv
  with open(tempath+'temp2.csv') as f, open(newpath + subfile +'_pre-ictal.csv', 'w') as fw:
      writer(fw, delimiter=',').writerows(zip(*reader(f, delimiter=',')))
  df=pd.read_csv(newpath + subfile +'_pre-ictal.csv', header=None)
  df.drop(columns=0, axis=1,inplace=True)
  print(df.shape)

  
  # Patient Non Specific
  newpath2= 'Generated siena db/Patient Non-Specific/Pre-Ictal/'
  if not os.path.exists(newpath2):
    os.makedirs(newpath2)


  df.to_csv(newpath + subfile +'_pre-ictal.csv', index=False, header=False)
  df.to_csv(newpath2+str(i+seizuren)+'.csv', index=False, header=False)

**PERI_ICTAL**

In [ ]:
seizuren= 0
for i in range(1,total_no_of_edfs):

  edfFile=excelData[1][i]
  patientno= excelData[0][i]
  subfile=excelData[1][i]
  seizure_type= excelData[4][i]
  localization=excelData[5][i]
  lateralization=excelData[6][i]


# read Peri Ictal start and end rows
  PeriIctalS= int(excelData[27][i])
  PeriIctalE= int(excelData[28][i])

  print(seizure_type,localization,lateralization,PeriIctalS,PeriIctalE)

# read edf file
  f=EdfReader(Edfpath+ edfFile+'.edf')
  n = f.signals_in_file
  signal_labels = f.getSignalLabels()
  print(signal_labels)
  data = zeros((n,f.getNSamples()[0]))
  data
  for k in arange(n):
      data[k, :] = f.readSignal(k)

  #store all data
  data_eeg = data

  #close the edf file
  f._close()
  del f
  print(data_eeg.shape)

  df = pd.DataFrame(data_eeg)

  # convert the edf to csv file
  df.to_csv(tempath+'temp1.csv', index=False)
  total_cols= len(df.columns)
  print(total_cols)

  #cut the data for peri-ictal
  cols=list(range(0,PeriIctalS))
  df.drop(columns=cols, axis=1,inplace=True)
  cols=list(range(PeriIctalE+1,total_cols))
  df.drop(columns=cols, axis=1,inplace=True)
  print(df.shape)

  # add class label
  df[len(df.columns)]=1

  #save the updated csv file
  df.to_csv(tempath+'temp2.csv', index=False)


  # create pateint specific folder
  folderpath = 'Generated siena db/Patient Inter Specific/'+seizure_type+'/'+localization+'/'+lateralization+'/'+'PN'+str(patientno)+'/'
  if not os.path.exists(folderpath):
    os.makedirs(folderpath)
  newpath= folderpath + 'Peri-Ictal' +'/'
  if not os.path.exists(newpath):
    os.makedirs(newpath)
  print(df.shape)
  # transpose the csv
  with open(tempath+'temp2.csv') as f, open(newpath + subfile +'_peri-ictal.csv', 'w') as fw:
      writer(fw, delimiter=',').writerows(zip(*reader(f, delimiter=',')))
  df=pd.read_csv(newpath + subfile +'_peri-ictal.csv', header=None)
  df.drop(columns=0, axis=1,inplace=True)
  print(df.shape)

  
  # Patient Non Specific
  newpath2= 'Generated siena db/Patient Non-Specific/Peri-Ictal/'
  if not os.path.exists(newpath2):
    os.makedirs(newpath2)


  df.to_csv(newpath + subfile +'_peri-ictal.csv', index=False, header=False)
  df.to_csv(newpath2+str(i+seizuren)+'.csv', index=False, header=False)